<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome{% endblock %} - freebilly.org</title>
    <link rel="stylesheet" href="{{ 'static/bulma.min.css'|asseturl }}"> <!-- 0.9.2 -->
    <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
  </head>
  <body>
    <div class="navbarContainer">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img style="background-color: white !important;" alt="FreeBilly" src="https://bulma.io/images/bulma-logo.png">
          </a>
          <a role="button" class="navbar-burger" id="mainNavbarButton" data-target="navbarMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbarMenu">
          <div class="navbar-start">
            <a class="navbar-item navbar-item--inline" href="https://gitlab.com/freebilly/freebilly">
              <img class="icon is-medium" src="{{ '/static/img/gitlab.svg'|asseturl }}" alt="GitLab" title="GitLab">
            </a>
            <a class="navbar-item navbar-item--inline" href="https://reddit.com/r/FreeBilly_FOSS/">
              <img class="icon is-medium" src="{{ '/static/img/reddit.svg'|asseturl }}" alt="Reddit" title="Reddit">
            </a>
            <a class="navbar-item navbar-item--inline" href="https://matrix.to/#/#FreeBilly:matrix.org?via=matrix.org">
              <img class="icon is-medium" src="{{ '/static/img/matrix_icon.svg'|asseturl }}" alt="Matrix" title="Matrix">
            </a>
            <a class="navbar-item navbar-item--inline" href="https://twitter.com/FreeBilly_FOSS">
              <img class="icon is-medium" src="{{ '/static/img/twitter.svg'|asseturl }}" alt="Twitter" title="Twitter">
            </a>
          </div>
          <div class="navbar-end">
            {% for href, title in [
              ['/', 'Home'],
              ['/features', 'Features'],
              ['/screenshots', 'Screenshots'],
              ['/download', 'Download'],
              ['/about', 'About']
            ] %}
              <a class="navbar-item{% if this._path == href %} active{% endif %}" href="{{ href|url }}">{{ title }}</a>
            {% endfor %}
            <a class="navbar-item" href="https://docs.freebilly.org/">Documentation</a>
            <a class="navbar-item" href="https://demo.freebilly.org/">Demo</a>
          </div>
        </div>
      </nav>
    </div>
    <main>
      {% block page %}{% endblock %}
    </main>
    <script type="text/javascript" src="{{ '/static/script.js'|asseturl }}"></script>
  </body>
</html>
