{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block page %}
  <div class="page scroll-snap">
    <section class="section full-height" id="top">
      <div class="centered">
        <h1 class="title is-2">{{ this.title }}</h1>
        <h2 class="subtitle is-4">{{ this.subtitle }}</h2>
        <a href="#content">
          <img class="icon" src="{{ '/static/img/chevron-down.svg'|asseturl }}" alt="Scroll down" title="Scroll down">
        </a>
      </div>
    </section>
    <span id="content"></span>
    {% if this.sections %}
      {% for section in this.sections.blocks %}
        {{ section }}
      {% endfor %}
    {% endif %}
    <footer class="footer">
      <div class="centered">
        <p>
          &copy; Copyright 2021 by <a href="https://jmason.me/">Jonathan Mason</a>
        </p>
      </div>
    </footer>
  </div>
{% endblock %}
