/*body {
  background-color: #000000;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}*/

#lektor-edit-link {
  display: none;
}

/* Scroll bars: Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #4A4A4A rgba(0, 0, 0, 0);
}

/* Scroll bars: Chrome and Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #4A4A4A;
}

html {
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  overflow-y: hidden;
}

.centered {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: black;
}

.full-height {
  height: 100%;
}

.navbarContainer {
  height: 5rem;
  z-index: 100;
}

.navbar {
  background-color: black;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 65rem;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar * {
  background-color: black !important;
}

.navbar-burger * {
  background-color: lightgrey !important;
}

.navbar-item {
  color: lightgrey;
}

.navbar-item--inline {
  display: inline-flex;
}

.navbar-item.active {
  color: white;
}

.page {
  color: lightgrey;
  display: block;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  position: fixed;
  scroll-behavior: smooth;
  top: 5rem;
  width: 100%;
}

.scroll-snap {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
  
.scroll-snap > * {
  align-items: center;
  display: flex;
  scroll-snap-align: end;
  position: relative;
}

.section > * {
  padding-bottom: 3rem;
}

.subtitle {
  color: lightgrey;
}

.title {
  color: lightgrey;
}
